#stream-controls{
    display: none;
  }

.layout-btn{
    display: none;
  }

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.uid-label {
    font-size: 12px;
    color: black;
    margin-top: 10px;
  }

.video-player {
    display: inline-block;
    height: 32vh;
    width: 32vw;
    object-fit: contain;
    margin: 0 2px;
  }

#video-call{
  display:flex;
  flex-wrap: wrap;
}

.video-container{
  flex-basis: 25%;
}

#chat-container{
  display: none;
}

.btn-normal{
  background-color: #e5e7eb;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.stream-control-button{
  background: yellowgreen;
}