@tailwind base;
@tailwind components;
@tailwind utilities;

.stream-control-button{
    background: yellowgreen;
  }

  #stream-controls{
    display: none;
  }

.layout-btn{
    display: none;
  }

  .video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .uid-label {
    font-size: 12px;
    color: black;
    margin-top: 10px;
  }

  .video-player {
    display: inline-block;
    height: 32vh;
    width: 32vw;
    object-fit: contain;
    margin: 0 2px;
  }

#video-call{
  display:flex;
  flex-wrap: wrap;
}

.video-container{
  flex-basis: 25%;
}

#chat-container{
  display: none;
}